{
	acme_dns cloudflare {$CF_API_TOKEN}
}

home.waibel.us {
	reverse_proxy 192.168.1.124:8006
}

fileserver.home.waibel.us {
	reverse_proxy 192.168.1.200
}

wiki.home.waibel.us {
	reverse_proxy 192.168.1.129
}

hass.home.waibel.us {
	reverse_proxy 192.168.1.129
}

hass-config.home.waibel.us {
	reverse_proxy 192.168.1.129
}

hyperion.home.waibel.us {
	reverse_proxy 192.168.1.129
}
